*{
  height: auto;
  margin:0px;
  text-align: center;
  background-image: url(img.jpg);
  background-size: contain;
  background-attachment: local;
  opacity: 1;
}


#titolo {
  color:red;
  font-size: 50px;
}
#check{
  height: 50px;
  font-size: 40px;
  border: 1px solid red;
  margin-bottom: 50px;
}
.bottone{
  height: 50px;
  font-size: 40px;
  border: 1px solid red;
}
#valutazione{
  font-size: 50px;
}
*:hover{
  opacity:1;
  background-image: none;
}
